#perfil {
    background: #edeef0;
    overflow: hidden;
    padding: 80px 0;
    strong {
        color: @cor-azul;
    }
    .dados-escolaridade {
        margin-top: 40px;
        div.item-escolaridade {
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
}

#portfolio {
    background: #0f5f70;
    color: #fff;
    overflow: hidden;
    padding: 80px 0 40px;
    h2 {
        color: #fff;
        margin-bottom: 60px;
    }
    div {
        text-align: center;
        margin-bottom: 100px;
        p {
            color: #fff;
            span {
                display: block;
                width: 70%;
                height: 70%;
                margin: 0 auto;
                overflow: hidden;
                border: solid 5px #fff;
                .rounded-corners(50%);
                img {
                    width: 100%;
                    display: block;
                }
            }
            a {
                margin: 0 auto;
                width: 100px;
            }
        }
    }
}

#contato {
    background: #000;
    color: #fff;
    overflow: hidden;
    padding: 80px 0 40px;
    text-align: center;

    h2 {
    	color: #fff;
    	margin-bottom: 80px;
    }
	
	div {
		margin-bottom: 40px;
	}

    i {
        background: #fff;
        display: inline-block;
        height: 70px;
        width: 70px;
        .rounded-corners(50%);
        color: @cor-azul;
        font-size: 30px;
        line-height: 70px;
        margin-bottom: 20px;
    }
}

.controle {
    width: 85%;
    margin: 0 auto;
    max-width: 1280px;
}
