//Font-weight
@light: 300;
@normal: 400;
@medium: 500;
@bold: 700;


//colors
@color-green: #90c5ab;
@color-orange: #f8c585;
@color-light-purple: #b8acd2;
@color-golden: #dfe59f;
@color-light-pink: #f29283;
@color-light-blue: #79abcc;


