//Font-weight
@light: 300;
@normal: 400;
@medium: 500;
@bold: 700;


//colors
@cor-cinza: #b7b7b7;
@cor-azul: #2372b6;
@color-light-purple: #b8acd2;
@color-golden: #dfe59f;
@color-light-pink: #f29283;
@color-light-blue: #79abcc;


